<div>
  <table>
    <thead>
      <tr>
        <th>{{ tempFormService.event }}</th>
        <th>{{ tempFormService.date }}</th>
        <th>{{ tempFormService.time }}</th>
        <th>{{ tempFormService.address }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.name}}</td>
        <td>{{ event.date}}</td>
        <td>{{ event.time}}</td>
        <td>{{ event.location.address}},{{ event.location.city}},{{ event.location.country}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="ms-3" [routerLink]="['/events/new']">Create New Event</a>
  </div>
</div>
