<h1 class="ms-4">{{ userService.heading }}</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>{{userService.event}}</th>
        <th>{{userService.date}}</th>
        <th>{{userService.time}}</th>
        <th>{{userService.address}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of tableRecords">
        <td>
          <a [routerLink]="['tableRecords',record.id]">{{ record.name }}</a>
        </td>
        <td>{{ record.date }}</td>
        <td>{{ record.time }}</td>
        <td>{{ record.location.address }},{{ record.location.city }},{{ record.location.country }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <app-user-records-details></app-user-records-details> -->
