<div class="container">
  <div class="col-3 mx-auto">
    <form [formGroup]="userform" (ngSubmit)="userDetails(userform.value)">
      <div class="form-group mt-2">
        <label for="name">Event Name</label>
        <input id="name" class="form-control" type="text" formControlName="name">
      </div>
      <div class="form-group mt-2">
        <label for="date">Date</label>
        <input id="date" class="form-control" type="text" formControlName="date">
      </div>
      <div class="form-group mt-2">
        <label for="time">Time</label>
        <input id="time" class="form-control" type="text" formControlName="time">
      </div>
      <div formGroupName="location">
        <div class="form-group mt-2">
          <label for="address">Address</label>
          <input id="address" class="form-control" type="text" formControlName="address">
        </div>
        <div class="form-group mt-2">
          <label for="city">city</label>
          <input id="city" class="form-control" type="text" formControlName="city">
        </div>
        <div class="form-group mt-2">
          <label for="country">Country</label>
          <input id="country" class="form-control" type="text" formControlName="country">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" formControlName="email">
      </div>
      <div class="row mt-2">
        <div class="col-6 text-center">
          <button type="submit" class="btn btn-success" [disabled]="userform.invalid">Save</button>
        </div>
        <div class="col-6 text-center">
          <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
